<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<!-- <link rel="stylesheet" href="/css/toast.css" /> -->
<nav class="bg-white shadow-md sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
    <!-- Logo -->
    <a href="/" class="text-2xl font-bold text-blue-600">NextTrip</a>
    <!-- Menu -->
    <ul class="hidden md:flex gap-8 text-gray-700 font-medium">
      <li><a href="/" class="hover:text-blue-600">Home</a></li>
      <li><a href="/places" class="hover:text-blue-600">Places</a></li>
      <li><a href="/hotels" class="hover:text-blue-600">Hotels</a></li>
      <li><a href="/Package" class="hover:text-blue-600">Package</a></li>
      <li><a href="/about" class="hover:text-blue-600">About</a></li>
      <li><a href="/contact" class="hover:text-blue-600">Contact</a></li>
    </ul>

    <!-- Auth Buttons -->
    <% if (!user) { %>
    <div class="flex gap-4">
      <a
        href="/login"
        class="px-4 py-2 border border-blue-600 text-blue-600 rounded-lg hover:bg-blue-600 hover:text-white"
        >Login</a
      >
      <a
        href="/signup"
        class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700"
        >Signup</a
      >
    </div>
    <% } else { %>
    <!-- <span class="font-semibold text-gray-600">Hi,  user.name</span> -->
    <div class="flex items-center gap-4">
      <a
        href="/account"
        class="px-4 py-2 border border-blue-600 text-blue-600 rounded-lg hover:bg-blue-600 hover:text-white"
        >Account</a
      >
      <!-- <a
        href="/user/logout"
        class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600"
        >Logout</a
      > -->
    </div>
    <% } %>
  </div>
</nav>
<!-- <div
              id="userDropdown"
              class="hidden absolute right-0 mt-3 w-48 bg-white rounded-xl shadow-lg border overflow-hidden"
            >
              <a
                href="/account"
                class="flex items-center gap-3 px-4 py-3 hover:bg-gray-100"
              >
                <i class="fa-solid fa-user"></i> My Account
              </a>

              <a
                href="/wishlist"
                class="flex items-center gap-3 px-4 py-3 hover:bg-gray-100"
              >
                <i class="fa-solid fa-heart"></i> Wishlist
              </a>

              <a
                href="/settings"
                class="flex items-center gap-3 px-4 py-3 hover:bg-gray-100"
              >
                <i class="fa-solid fa-gear"></i> Settings
              </a>

              <hr />

              <a
                href="/logout"
                class="flex items-center gap-3 px-4 py-3 text-red-600 hover:bg-red-50"
              >
                <i class="fa-solid fa-right-from-bracket"></i> Logout
              </a>
            </div>
          </div> -->
